input {
    font-size: 2vw;
    text-align: center;
}

.inputs {
    text-align: center;
}

.botao {
    text-align: center;
    margin-top: 5em;
}

.resultado {
    text-align: center;
    margin-top: 5em;

}